@media (max-width: 767px) {
    body {
        background: rgb(44,44,44);
    }
    .app-container {
        margin: 0;
    }
    .table-container {
        margin: 0;
    }
    .category-list {
        flex-direction: column;
    }
    .category-tab {
        width: 100%;
        display: none;
        height: 50px;
    }
    .new-category-tab,label {
        justify-content: center;
    }
    .mobile-hidden {
        display: none;
    }
    .mobile-visible {
        display: flex;
        background: rgb(0, 82, 150);
    }
    .mobile-visible:hover {
        background: #2196F3;
    }
    .active-category-tab {
        display: flex;
        background: #0c83e4;
    }
}