body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Common */
.new-tab-input-field {
  width: 60px;
}
.button-group {
  margin: 5px;
  display: flex;
}
.button:hover {
  cursor: pointer;
}
.icon-button {
  padding: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-button:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.1s;
}
.delete-icon-button {
  color: rgb(128,0,0);
}
.delete-icon-button:hover {
  color: rgb(170, 0, 0);
}
.add-icon-button {
  color: rgba(0,0,0,0.6);
}
.confirm-icon-button {
  color: rgba(0,128,0,1);
}
.edit-icon-button {
  color: rgba(0,0,0,0.6);
}

/* Todo Item */
.todo-inactive {
  background: rgba(255,0,0,0.2);
}
.todo-active {
  background: rgba(0,255,0,0.2);
}
.todo-complete {
  text-decoration: line-through;
}


/* Category */
.category-list {
  display: flex;
}
.category-tab {
  width: 150px;
  border: 1px solid rgba(0,0,0,0.2);
  /* padding: 10px 15px; */
  display: flex;
  justify-content: space-between;
}
.category-tab:hover {
  background: rgba(0,0,0, 0.1);
}
.active-category-tab, .active-category-tab:hover {
  background:rgba(0,255,0,0.2);
}
.label {
  width: 100%;
  padding-left: 10px;
  /* background: rgb(200,200,200,0.4); */
  display: flex;
  align-items: center;
  overflow: hidden;
}
.new-category-tab {
  /* width: 100px; */
  border: 1px solid rgba(0,0,0,0.2);
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
}